@import "./../../Variables.scss";
@import "./../../Mixins-media.scss";
@import "./../../common.scss";
@import "./../../extends.scss";

.sectionWrapper {
    grid-area: m;
    position: relative;
    margin-left: $gap * 2;
    overflow: hidden;

    @include md {
        margin-left: $gap * 1.5;
    }
    @include xs {
        margin: 0;
    }

    .sectionWrapper-label {
        @include sm {
            margin-bottom: $gap;
        }

        .label {
            @extend %items-label;
        }

        .label::after {
            @extend %Items-label-after;
        }
    }

    .sectionWrapper-items {
        @extend %items-layout;
    }

    .sectionWrapper-pagination {
        display: flex;
        justify-content: center;
        margin-bottom: $gap * 3;

        @include sm {
            margin-bottom: $gap;
        }

        @include xs {
            margin-bottom: $gap;
        }

        &__btn {
            @extend %pagination-btn;
        }

        &__btn:hover {
            @extend %pagination-btn-hover;
        }

        .currentPage {
            padding: 8px 15px;
        }
    }
}
