@import "./../../../Variables.scss";
@import "./../../../Mixins-media.scss";
@import "./../../../extends";

.itemDetails-itemPersonDetails {
    &__person {
        .title {
            margin-top: -$gap / 2.8;
            margin-left: 0;
            @extend %itemDetails-title;
        }

        .title::after {
            @extend %itemDetails-title-after;
        }

        .person-data {
            display: flex;

            @include lg {
                justify-content: space-between;
            }

            &__poster {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: $gap * 3;
                width: 180px;
                height: 250px;
                border: 1px solid $color-dark;
                border-radius: 7px;

                @include lg {
                    margin: 0;
                }

                .poster {
                    width: 95%;
                    height: 95%;
                }
            }

            &__wrapper {
                width: 460px;

                .items {
                    width: 100%;
                    display: flex;
                    margin-bottom: $gap / 2;
                    font-size: 1rem;

                    .item-title {
                        width: 120px;
                        font-weight: bold;
                    }

                    .item {
                        width: 340px;
                    }
                }
            }
        }

        .person-biography {
            .title {
                @extend %itemDetails-title;
            }

            .title::before {
                @extend %itemDetails-title-before;
            }

            .title::after {
                @extend %itemDetails-title-after;
            }

            .description {
                font-weight: bold;
                letter-spacing: 0.05rem;
            }
        }
    }

    &__personVideo {
        margin-bottom: 40px;

        .toggleButton {
            display: flex;
            justify-content: center;
            margin: 15px 0;

            .btn {
                margin-right: $gap / 1.7;
                margin-bottom: $gap / 2.6;
                padding: 8px 20px;
                font-size: 0.9rem;
                font-weight: bold;
                border: 1px solid $color-gray;
                border-radius: 7px;
                cursor: pointer;
                transition: 0.4s;
            }

            .btn:hover {
                color: $color-light;
                background-color: $color-accent;
            }
        }

        .active {
            color: $color-light;
            background-color: $color-accent;
        }

        .personVideo {
            .personItems-wrapper {
                @extend %items-layout;
            }

            .currentPage {
                padding: 8px 15px;
            }

            .personVideo-btn {
                display: flex;
                justify-content: center;

                .btn {
                    @extend %pagination-btn;
                }

                .btn:hover {
                    @extend %pagination-btn-hover;
                }
            }
        }
    }
}
