@import "./../../Variables.scss";
@import "./../../Mixins-media.scss";
@import "./../../common.scss";
@import "./../../extends.scss";

.main {
    grid-area: m;
    overflow: hidden;

    @include md {
        margin: 0 auto;
    }

    .sectionWrapper {
        position: relative;

        .sectionWrapper-label {
            .label-new {
                @extend %items-label;
            }

            .label-new::after {
               @extend %Items-label-after;
            }
        }
    }

    .movieNews {
        margin-left: $gap * 2;
        position: relative;

        @include md {
            margin-left: 0;
        }

        .movieNews-title {
            .title {
                @extend %itemDetails-title;
            }

            .title::before {
                @extend %itemDetails-title-before;
            }

            .title::after {
                @extend %itemDetails-title-after;
            }
        }

        .movieNews-wrapper {
            .news {
                margin-bottom: $gap * 3;

                @include sm {
                    margin-bottom: $gap * 2;
                }

                .news-title {
                    cursor: pointer;

                    .title {
                        margin-bottom: $gap;
                        font-weight: normal;
                        color: $color-primary;
                        transition: 0.4s;
                    }

                    @include sm {
                        font-size: 0.8rem;
                    }
                }

                .news-wrapper {
                    display: flex;

                    @include sm {
                        display: block;
                    }

                    &__poster {
                        text-align: center;
                        padding: 5px 0;
                        height: 150px;
                        width: 240px;
                        border: 1px solid $color-gray;
                        border-radius: 5px;
                        overflow: hidden;
                        transition: 0.4s;

                        @include sm-xs {
                            height: 300px;
                            width: 100%;
                            padding: 5px 0;
                            margin-bottom: $gap / 2;
                        }

                        @include xs {
                            height: 220px;
                            width: 100%;
                            padding: 5px 0;
                            margin-bottom: $gap / 2;
                        }

                        .poster {
                            height: 100%;
                            width: 95%;

                            @include sm {
                                width: 98%;
                            }
                        }
                    }

                    &__content {
                        width: 70%;

                        @include sm {
                            width: 100%;
                        }

                        .content {
                            margin-left: $gap * 2;
                            height: 75%;

                            @include sm {
                                margin-left: 0;
                                margin-bottom: $gap / 2;
                            }

                            .content-text {
                                font-size: 1rem;
                                overflow: hidden;
                                position: relative;
                                height: 82px;

                                @include md {
                                    height: 62px;
                                }

                                @include sm {
                                    font-size: 0.9rem;
                                }
                            }

                            .content-text::after {
                                content: "";
                                text-align: right;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                width: 70%;
                                height: 1.4em;
                                background: linear-gradient(to right, rgba(255, 255, 255, 0), $color-light 100%);
                            }
                        }

                        .content-btn {
                            display: flex;
                            justify-content: flex-end;
                            width: 100%;

                            .btn {
                                padding: 5px 15px;
                                border: 1px solid $color-accent;
                                border-radius: 5px;
                                color: $color-accent;
                                cursor: pointer;
                                transition: 0.4s;
                            }
                        }
                    }
                }
            }

            .news:hover {
                .news-title {
                    .title {
                        color: $color-accent;
                    }
                }

                .news-wrapper {
                    &__poster {
                        background-color: $color-accent;
                    }

                    &__content {
                        .content-btn {
                            .btn {
                                color: $color-light;
                                background-color: $color-accent;
                            }
                        }
                    }
                }
            }
        }
    }
}
