@import './../../Variables.scss';
@import './../../Mixins-media.scss';

.main {
    grid-area: m;
    margin-right: $gap * 3.5;
    margin-left: $gap * 2;

    .main-newMovies {
        margin-bottom: $gap * 3;

        &__label {
            position: relative;
            width: 100%;

            .label {
                margin-top: -$gap;
                color: lighten($color: $color-dark, $amount: 10%);
                font-size: 3rem;
                font-weight: normal;
                letter-spacing: .1em;
            }

            .label::after {
                content: "";
                position: absolute;
                bottom: 12px;
                right: 0;
                height: 2px;
                width: 65%;
                background-color: $color-accent;
            }
        }

        &__wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: $gap;
            
            .section {
                text-align: center;
                padding-top: 5px;
                height: 310px;
                border: 1px solid $color-gray;
                border-radius: 5px;
                overflow: hidden;
                transition: 0.4s;
                cursor: pointer;

                .section-poster img{
                    height: 270px;
                    width: 96%;
                }

                .section-name {
                    text-align: center;
                    align-items: middle;
                    padding: $gap / 3 0;
                    width: 100%;

                    .movie-name {
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
            }

            .section:hover {
                background-color: $color-accent;

                .section-name {

                    .movie-name {
                        color: $color-light;
                    }
                }
            }
        }
    }

    .main-bestWeek {
        margin-bottom: $gap * 3;

        &__label {
            position: relative;
            width: 100%;

            .label {
                margin-top: -$gap;
                margin-bottom: $gap * 2;
                margin-left: $gap * 3;
                color: lighten($color: $color-dark, $amount: 10%);
                font-size: 2.6rem;
                font-weight: normal;
            }

            .label::before {
                content: "";
                position: absolute;
                top: 12px;
                left: 0;
                height: 2px;
                width: 4%;
                background-color: $color-accent;
            }

            .label::after {
                content: "";
                position: absolute;
                bottom: 12px;
                right: 0;
                height: 2px;
                width: 60%;
                background-color: $color-accent;
            }
        }

        &__wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: $gap;
            
            .section {
                text-align: center;
                padding-top: 5px;
                height: 310px;
                border: 1px solid $color-gray;
                border-radius: 5px;
                overflow: hidden;
                transition: 0.4s;
                cursor: pointer;

                .section-poster img{
                    height: 270px;
                    width: 96%;
                }

                .section-name {
                    text-align: center;
                    align-items: middle;
                    padding: $gap / 3 0;
                    width: 100%;

                    .movie-name {
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
            }

            .section:hover {
                background-color: $color-accent;

                .section-name {

                    .movie-name {
                        color: $color-light;
                    }
                }
            }
        }
    }

    .main-movieNews {
        margin-bottom: $gap * 3;

        &__label {
            position: relative;
            width: 100%;

            .label {
                margin-top: -$gap;
                margin-bottom: $gap * 2;
                margin-left: $gap * 3;
                color: lighten($color: $color-dark, $amount: 10%);
                font-size: 2.6rem;
                font-weight: normal;
            }

            .label::before {
                content: "";
                position: absolute;
                top: 12px;
                left: 0;
                height: 2px;
                width: 4%;
                background-color: $color-accent;
            }

            .label::after {
                content: "";
                position: absolute;
                bottom: 12px;
                right: 0;
                height: 2px;
                width: 69%;
                background-color: $color-accent;
            }
        }

        &__wrapper {
            
            .news {
                margin-bottom: $gap * 3;

                .news-title {
                    cursor: pointer;

                    .title {
                        margin-bottom: $gap;
                        font-weight: normal;
                        color: $color-primary;
                        transition: 0.4s;
                    }
                }

                .news-wrapper {
                    width: 100%;
                    display: flex;

                    &__poster {
                        text-align: center;
                        padding: $gap / 3 0 ;
                        height: 150px;
                        width: 250px;
                        border: 1px solid $color-gray;
                        border-radius: 5px;
                        overflow: hidden;
                        transition: 0.4s;

                        .poster {
                            height: 100%;
                            width: 95%;
                        }
                    }

                    &__content {
                        width: 70%;

                        .content {
                            height: 85%;
                            margin-left: $gap * 2;

                            .content-text {
                                font-size: 1rem;
                            }
                        }

                        .content-btn {
                            display: flex;
                            justify-content: flex-end;
                            width: 100%;
    
                            .btn {
                                padding: $gap / 3 $gap;
                                border: 1px solid $color-accent;
                                border-radius: 5px;
                                color: $color-accent;
                                cursor: pointer;
                                transition: 0.4s;
                            }
                        }
                    }
                }
            }

            .news:hover {
                .news-title {

                    .title {
                        color: $color-accent;
                    }
                }

                .news-wrapper {

                    &__poster {
                        background-color: $color-accent;
                    }

                    &__content {

                        .content-btn {
    
                            .btn {
                                color: $color-light;
                                background-color: $color-accent;
                            }
                        }
                    }
                }
            }
        }
    }





}