@import './../../Variables.scss';
@import './../../Mixins-media.scss';
@import './../../common.scss';

.sectionWrapper {
    grid-area: m;
    margin-left: $gap * 2;

    @include md {
        margin: 0 auto;
    }

    .sectionWrapper-label {
        margin-bottom: $gap * 3;

        @include sm {
            margin-bottom: $gap;
        }

        .label {
            position: relative;
            margin-top: -$gap;
            color: lighten($color: $color-dark, $amount: 10%);
            font-size: 3rem;
            font-weight: normal;
            letter-spacing: .1em;

            @include sm {
                font-size: 2rem;
            }
        }

        .label::after {
            content: "";
            position: absolute;
            bottom: 12px;
            right: 0;
            height: 2px;
            width: 79%;
            background-color: $color-accent;

            @include lg-md {
                width: 75%;
            }

            @include md-sm {
                width: 76%;
            }
            @include sm-xs {
                width: 78%;
                bottom: 10px;
            }

            @include xs {
                width: 64%;
                bottom: 9px;
            }
        }
    }

    .sectionWrapper-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $gap;
        margin-bottom: $gap * 3;

        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }

        @include md {
            grid-template-columns: repeat(3, 1fr);
        }

        @include sm {
            grid-template-columns: repeat(2, 1fr);
        }
        
        
    }
}
