@import './../../Variables.scss';
@import './../../Mixins-media.scss';
@import './../../common.scss';

.sectionWrapper {
    grid-area: m;
    margin-left: $gap * 2;

    @include md {
        margin: 0 auto;
    }

    .sectionWrapper-label {

        @include sm {
            margin-bottom: $gap;
        }

        .label {
            position: relative;
            margin-top: -$gap;
            color: lighten($color: $color-dark, $amount: 10%);
            font-size: 3rem;
            font-weight: normal;
            letter-spacing: .1em;

            @include sm {
                font-size: 2rem;
            }
        }

        .label::after {
            content: "";
            position: absolute;
            bottom: 12px;
            right: 0;
            height: 2px;
            width: 79%;
            background-color: $color-accent;

            @include lg-md {
                width: 75%;
            }

            @include md-sm {
                width: 76%;
            }
            @include sm-xs {
                width: 78%;
                bottom: 10px;
            }

            @include xs {
                width: 64%;
                bottom: 9px;
            }
        }
    }

    .sectionWrapper-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $gap;
        margin-bottom: $gap * 3;

        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }

        @include md {
            grid-template-columns: repeat(3, 1fr);
        }

        @include sm {
            grid-template-columns: repeat(2, 1fr);
        }

        .section {
            display: block;
            text-align: center;
            padding-top: 5px;
            height: 310px;
            border: 1px solid $color-gray;
            border-radius: $gap / 2.5;
            overflow: hidden;
            transition: 0.4s;
            cursor: pointer;
        
            @include sm-xs {
                height: 350px;
            }
        
            @include xs {
                height: 260px;
            }
        
            .section-poster img{
                height: 270px;
                width: 96%;
                @include sm-xs {
                    height: 310px;
                }
                @include xs {
                    height: 220px;
                }
            }
        
            .section-name {
                text-align: center;
                padding: $gap / 3 0;
                width: 100%;
        
                .section-name {
                    font-size: 1rem;
                    font-weight: bold;
                    color: $color-dark;
        
                    @include xs {
                        font-size: .8rem;
                    }
                }  
            }
        }
        
        .section:hover {
            background-color: $color-accent;
        
            .section-name {
        
                .section-name {
                    color: $color-light;
                }
            }
        }
        
        
    }
}
