@import "./../../Variables.scss";
@import "./../../Mixins-media.scss";
@import "./../../common.scss";
@import "./../../extends.scss";

.header {
    position: relative;
    margin-bottom: $gap * 4;
    background-color: $color-dark;

    @include sm {
        margin-bottom: $gap * 2;
    }

    .header-logo {
        text-align: center;
        padding: 100px 0;
        background-image: url(../../img/header-bg.jpg);
        background-position: 50% 50%;
        background-size: cover;

        @include sm {
            padding: 50px 0;
        }

        .container-logo {
            .container-label {
                font-size: 4rem;
                font-family: $font-header;
                font-weight: bold;
                letter-spacing: 0.33em;
                color: $color-accent;

                @include sm {
                    font-size: 3rem;
                }
            }

            .container-description {
                font-size: 1.5rem;
                letter-spacing: 0.2em;
                color: $color-light;
            }
        }
    }

    .header-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 70px;
        margin: 0 auto;
        height: 66px;

        @include lg-md {
            padding: 0 40px;
        }

        @include md-sm {
            padding: 0 30px;
        }

        @include sm-xs {
            padding: 0 40px;
            margin: 0 auto;
        }

        @include xs {
            padding: 0 20px;
            margin: 0 auto;
        }

        &__btn {
            display: none;
            justify-content: center;
            padding: 7px;
            width: 35px;
            border: 1px solid $color-gray;
            border-radius: 4px;
            transition: 0.5s;
            cursor: pointer;

            @include sm-xs {
                display: block;
            }

            @include xs {
                display: block;
            }

            .btn-item {
                margin: $gap / 3;
                height: 2px;
                width: 25px;
                background-color: $color-light;
                transition: 0.5s;
            }
        }

        &__btn:hover {
            border: 1px solid $color-accent;

            .btn-item {
                background-color: $color-accent;
            }
        }

        &__menu {
            display: flex;

            @include sm-xs {
                display: none;
            }

            @include xs {
                display: none;
            }

            .itemMenu {
                margin: $gap / 2;
                padding: $gap;
                color: $color-light;
                border-radius: 5px;
                text-decoration: none;
                transition: 0.5s;
                cursor: pointer;
            }

            .itemMenu:hover {
                background-color: $color-primary;
            }
        }

        &__info {
            display: flex;
            @include xs {
                display: none;
            }

            .itemInfo {
                margin: $gap / 2;
                padding: 15px;
                color: $color-light;
                border-radius: 5px;
                transition: 0.5s;
                cursor: pointer;

                @include sm-xs {
                    margin: $gap / 4;
                    padding: 10px;
                }
            }

            .itemInfo:hover {
                background-color: $color-primary;
            }
        }

        &__searchPanel {
            z-index: 999999;

            .wrapper-form {
                display: flex;
                border-radius: 5px;
                overflow: hidden;

                .inputSearch {
                    padding-left: $gap;
                    height: 30px;
                    width: 300px;
                    border: none;
                    outline: none;

                    @include lg-md {
                        width: 300px;
                    }

                    @include md-sm {
                        width: 200px;
                    }

                    @include sm-xs {
                        width: 200px;
                    }

                    @include xs {
                        width: 200px;
                    }
                }

                // .inputSearch:focus {
                //     position: absolute;
                //     left: 70px;
                //     width: calc(100% - 190px);
                // }

                .searchBtn {
                    vertical-align: middle;
                    width: 50px;
                    border: none;
                    outline: none;
                    border-left: 1px solid darken($color: $color-gray, $amount: 20%);
                    background-color: $color-light;
                    cursor: pointer;
                    transition: 0.4s;
                }

                .searchBtn:hover {
                    background-color: $color-accent;
                }
            }
        }
    }

    .header-ShortSearchResults {
        position: absolute;
        margin-right: 70px;
        right: 0;
        width: calc(100% - 140px);
        z-index: 999999;
        transition: 0.5s;

        &__items {
            display: flex;
            padding-top: 10px;
            padding-left: 5px;
            border-radius: 7px;
            border-bottom: 1px solid $color-dark;
            background-color: $color-light;
            cursor: pointer;
            transition: 0.4s;

            .item {
                margin: 5px;
            }
        }

        &__items:hover {
            color: $color-light;
            background-color: $color-accent;
        }

        &__itemBtn {
            display: flex;
            justify-content: center;
            padding: 5px 0;
            color: $color-light;
            font-weight: bold;
            border-radius: 7px;
            border-bottom: 1px solid $color-dark;
            background-color: darken($color: $color-gray, $amount: 30%);
            cursor: pointer;
            transition: 0.2s;
        }

        &__itemBtn:hover {
            padding: 8px 0;
            color: $color-accent;
            background-color: darken($color: $color-gray, $amount: 50%);
        }
    }

    .toggleShow {
        opacity: 0;
        visibility: hidden;
    }
}


